<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <title>Pokédex</title>

  <!-- CSS link (loading Semantic UI from a CDN) -->
  <!-- <link rel="stylesheet" href="./styles/semantic.min.css" /> -->
  <link rel="stylesheet" href="/css/styles.css" />
</head>

<body>
  <div class="overflow-x-hidden">
    <div class="w-full h-auto" style="border-bottom: 4px solid #1b69b7;">
      <div class="row gap-10 mx-auto">
        <img src="/img/pokemon.png" class="logo"></img>
      </div>
    </div>
  </div>
</body>