<%- include('./partials/header'); %>
<main>
 <div class="ui segment">
   <h1>This is magic</h1>
   <p>This is visual of templating through EJS</p>
 </div>
</main>

<footer>
  <%- include('./partials/footer'); %>
</footer>

</body> 
</html>