.logo {
    position: relative;
    width: 8em;
    height: 0;
    z-index: 999;
}

.logo .wrapper {
    position: absolute;
    top: 0;
    margin: auto;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    z-index: 999;
}

.logo img {
    width: 100%;
    box-sizing: initial;
    z-index: 999;
}

nav {
    background-color: #ffcb05;
}

.navbar {
    height: 3em;
    border-bottom: 0.25em solid #306bb3;
    padding-top: 0rem;
    padding-right: 0rem;
    padding-bottom: 0rem;
    padding-left: 0rem;
    z-index: 999;
}

#page-container {
    position: relative;
    min-height: 100vh;
    background-color: #f2f2f2;
    z-index: 2;
}

#footer {
    padding-bottom: 1rem;
    /* Footer height */
    padding-top: 0.5rem;
    /* Footer height */
    background-color: #ffcb05;
    border-top: 0.25em solid #306bb3;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 13px;
    font-style: normal;
    color: #306bb3;
}

#add {
    height: 300px;
    position: relative;
    border-bottom: 0.25em solid #676767;
}

#addbutton {
    position: absolute;
    left: 70%;
    top: 50%;
    width: 80px;
    height: 40px;
    transform: translateY(-50%);
    color: #306bb3;
    background-color: #ffcb05;
    font-family: "Open Sans", sans-serif;
    font-weight: 800;
    border-radius: 30px;
    border: 3px solid #306bb3;
}

button {
    border: 5px solid #306bb3;
}

label {
    display: block;
    font: 2rem;
    font-family: "Open Sans", sans-serif;
    font-weight: 800;
}


label {
    margin: 0rem 0;
    position: absolute;
    left: 15%;
    top: 15%;
    color: #306bb3;
}

input {
    margin: 0rem 0;
    position: absolute;
    left: 15%;
    top: 25%;
    height: 25px;
    border: 2px solid #306bb3;
}

#abilities {
    margin: 0rem 0;
    position: absolute;
    left: 15%;
    top: 55%;
    width: 185px;
    border: 2px solid #306bb3;
}

#types {
    margin: 0rem 0;
    position: absolute;
    left: 15%;
    top: 75%;
    width: 185px;
    border: 2px solid #306bb3;
}

#abilabel {
    margin: 0rem 0;
    position: absolute;
    left: 15%;
    top: 45%;
}

#typelabel {
    margin: 0rem 0;
    position: absolute;
    left: 15%;
    top: 65%;
}

#display {
    height: 600px;
    position: relative;
}

th, td {
    font-family: "Open Sans", sans-serif;
    font-weight: 800;
    font: 2rem;
    color: #306bb3;
}

#actions{
    position: absolute;
    left: 80%;
}

#update{
    height: 300px;
    border-top: 0.25em solid #676767;
}

#updatebutton {
    position: relative;
    left: 52%;
    top: 20%;
    width: 80px;
    height: 40px;
    transform: translateY(-200%);
    color: #306bb3;
    background-color: #ffcb05;
    font-family: "Open Sans", sans-serif;
    font-weight: 800;
    border-radius: 30px;
    border: 3px solid #306bb3;
}

#abilities2 {
    margin: 0rem 0;
    position: relative;
    left: 15%;
    top: 55%;
    width: 185px;
    border: 2px solid #306bb3;
}

#types2 {
    margin: 0rem 0;
    position: relative;
    left: 15%;
    top: 75%;
    width: 185px;
    border: 2px solid #306bb3;
}

#abilabel2 {
    margin: 0rem 0;
    position: relative;
    left: 15%;
    top: 45%;
}

#typelabel2 {
    margin: 0rem 0;
    position: relative;
    left: 15%;
    top: 65%;
}

#nameinput2{
    margin: 0rem 0;
    position: relative;
    left: 15%;
    top: 65%;
}

#name2{
    margin: 0rem 0;
    position: relative;
    left: 15%;
    top: 65%;
}

#idlabel{
    margin: 0rem 0;
    position: relative;
    left: 15%;
    top: 65%;
}

#idinput{
    margin: 0rem 0;
    position: relative;
    left: 15%;
    top: 65%;
}

